// colors named using http://chir.ag/projects/name-that-color
$white: #ffffff;
$dark: #000000;
$burntSienna: #EC6551;
$scarpaFlow : #58585A;
$dawnPink: #F7EDED;
$blueZodiac: #16295C;
$doveGray: #6E6E6E;

// Fonts
$openSansLight: 'Open Sans Light';
$openSans: 'Open Sans Regular';
$openSansSemiBold: 'Open Sans Semibold';
$openSansBold: 'Open Sans Bold';
$oswaldBold: 'Oswald Bold';
$oswaldLight: 'Oswald Light';
$oswaldMedium: 'Oswald Medium';
$oswald: 'Oswald Regular';
$oswaldSemiBold: 'Oswald Semibold';
$oswaldExtraLight: 'Oswald ExtraLight';

// Media Queries
// Extra Small Devices, Mobile .visible-xs-*
@mixin media-xs {
    @media (max-width: 767px) {
      @content;
    }
}
@mixin media-xs-portrait {
    @media (max-width: 767px) and (orientation: portrait) {
      @content;
    }
}
@mixin media-xs-landscape {
  @media (max-width: 767px) and (orientation: landscape) {
    @content;
  }
}
// Small Devices, Tablet portrait .visible-sm-* 
@mixin media-sm {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
}
// Medium Devices, Tablet landscape .visible-md-*
@mixin media-md {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
}
// Large Devices, Desktop .visible-lg-* 
@mixin media-lg {
    @media (min-width: 1200px) {
      @content;
    }
}
// Extra Large Devices, Desktop .visible-xlg-* 
@mixin media-xlg {
  @media (min-width: 1600px) {
    @content;
  }
}