.cases-container {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    margin-top: -80px;
    @include media-xlg {
        margin-bottom: 50px;
        margin-top: -100px;
    }
    @include media-xs {
        margin-top: -40px;
    }
    @include media-xs-portrait {
        margin-top: -60px;
    }
    &.more-case-container {
        margin-bottom: 70px;
        margin-top: 0;
        @include media-xlg {
            margin-top: 0;
            margin-bottom: 50px;
        }
        @include media-xs {
            margin-top: 0;
            margin-bottom: 50px;
        }
        @include media-xs-portrait {
            margin-top: 0;
            margin-bottom: 50px;
        } 
    }
    h2 {
        text-align: center;
        margin-bottom: 50px;
        @include media-xs {
            margin-bottom: 30px;
        }
    }
    .cases-item {
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        position: relative;
        float: left;
        width: 50%;
        position: relative;
        overflow: hidden;
        @include media-xs {
            width: 100%;
        }
        &:focus {
            outline: none;
            text-decoration: none;
            color: $white;
        }
        &:hover {
            text-decoration: none;
            color: $white;
            &:before {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            img {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
        &:active {
            outline: none;
            text-decoration: none;
        }
        &:visited {
            outline: none;
            text-decoration: none;
        }
        img {
            width: 100%;
            height: 100%;
            -webkit-transition: all .3s ease 0s;
            -moz-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
        }
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate( -50%, -50%);
            -ms-transform: translate( -50%, -50%);
            transform: translate( -50%, -50%);
            font-family: $oswald;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: 0.64px;
            color: $white;
            z-index: 99;
            width: 100%;
            text-align: center;
            text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
            @include media-xs-portrait {
                font-size: 34px;
                line-height: 48px;
            }
        }
        &:before {
            content: "";
            background-color: rgba(236, 101, 81, 0.94);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            transform: scale(0);
            -webkit-transition: 0.2s linear;
            -moz-transition: 0.2s linear;
            transition: 0.2s linear;
            z-index: 9;
        }
    }
}
.case-intro-container {
    font-size: 0;
    margin-bottom: 40px;
    .case-intro-content {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        @include media-xs {
            width: 100%;
            padding: 30px 0;
        }
        @include media-sm {
            width: 100%;
            padding: 50px 0;
        }
        span {
            display: block;
            font-size: 60px;
            line-height: 90px;
            color: $blueZodiac;
            font-family: $oswald;
            display: block;
            margin-bottom: 26.5px;
            @include media-xlg {
                font-size: 70px;
                line-height: 100px;
            }
            @include media-md {
                font-size: 40px;
                line-height: 60px;
            }
            @include media-sm {
                font-size: 30px;
                line-height: 50px;
            }
            @include media-xs {
                font-size: 32px;
                line-height: 40px;
            }
        }
        p {
            font-size: 24px;
            line-height: 40px;
            color: $doveGray;
            font-family: $oswaldLight;
            padding-right: 30px;
            .media-xlg {
                font-size: 26px;
                line-height: 50px;
            }
            .media-md {
                font-size: 24px;
                line-height: 38px;
            }
            .media-sm {
                font-size: 24px;
                line-height: 38px;
            }
            .media-xs {
                font-size: 22px;
                line-height: 38px;
            }
        }
        a {
            &.scroll-icon {
                width: 29.18px;
                height: 29.18px;
                position: relative;
                cursor: pointer;
                display: block;
                margin-top: 40px;
                text-decoration: none;            
                &:hover {
                    &:after {
                        opacity: 0.8;
                    }
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                &:after {
                    content: "";
                    width: 29.18px;
                    height: 29.18px; 
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url("../../../assets/images/icons/forward-icon.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    -webkit-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
            }
        }
        .case-inner-content {
            padding-left: 65px;
            width: 100%;
            @include media-xlg {
                padding-left: 150px;
                width: 85%;
            }
            @include media-md {
                padding-left: 45px;
            }
            @include media-xs {
                padding-left: 25px;
                width: 100%;
            }
            
        }
    }
    .case-intro-image {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        @include media-xs {
            width: 100%;
        }
        @include media-sm {
            width: 100%;
        }
        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}